.clickable {
  @apply cursor-pointer select-none outline-none;
}

.disabled {
  filter: grayscale(1) opacity(0.5);
}

@keyframes loading-bar {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes pulse-saturation-soft {
  0% {
    filter: saturate(0.9) opacity(0.8);
  }

  50% {
    filter: saturate(1.5) opacity(0.5);
  }

  100% {
    filter: saturate(0.9) opacity(0.8);
  }
}

.loading-bar-animation {
  transform-origin: left center;
  animation: 5s cubic-bezier(0, 0, 0.11, 0.88) loading-bar,
    1s infinite ease-in pulse-saturation-soft;
}

@keyframes notice-me {
  0% {
    filter: brightness(100%);
  }

  30% {
    filter: brightness(120%);
  }

  100% {
    filter: brightness(100%);
  }
}

// TODO: firefox doesn't notice senpai
.notice-me-senpai {
  animation: 300ms ease-in notice-me;
}

.section {
  @apply flex flex-col items-center;
}

@keyframes pulse-saturation {
  0% {
    filter: saturate(0) opacity(0.5);
  }

  60% {
    filter: saturate(2) opacity(0.5);
  }

  100% {
    filter: saturate(0) opacity(0.5);
  }
}

.simple-action {
  @apply clickable flex items-center justify-center;
}

.outline-action,
.action {
  @apply clickable flex items-center justify-center py-3 px-4 rounded-md font-semibold;
}

.outline-action {
  @apply border-2 border-transparent;
}

.round-action {
  @apply clickable rounded-full p-3 text-xl;
}

.inline-action {
  @apply clickable flex items-center py-3 pr-4 font-semibold;
}

.outline-action,
.simple-action,
.action,
.round-action,
.inline-action {
  &.action__processing {
    animation: 1s infinite ease-in pulse-saturation;
  }

  &:disabled {
    @apply disabled;
  }

  &:focus:not(:disabled) {
    @apply shadow-outline;
  }

  &:hover:not(:disabled) {
    @apply lighten-5;
  }

  &:active:not(:disabled) {
    @apply darken-5;
  }
}

.outline-action {
  &:hover:not(:disabled) {
    @apply border-gray-400;
  }
}

.simple-action,
.action,
.round-action,
.inline-action {
  &:hover:not(:disabled) {
    @apply shadow-lg;
  }

  &:active:not(:disabled) {
    @apply shadow-none;
  }
}

.green-link {
  text-decoration: underline;
  @apply text-naito-green-200;

  &:hover {
    @apply text-naito-green-100;
  }
}

.material-radio,
.material-checkbox {
  > .material-radio-fake,
  > .material-checkbox-fake {
    @apply p-2 cursor-pointer;
    &::after {
      content: 'check_box_outline_blank';

      font-family: 'Material Icons';
      @apply pointer-events-none select-none text-xl;
    }
  }

  // other icon for the radio
  > .material-radio-fake::after {
    content: 'radio_button_unchecked';
  }

  > input {
    // display flex so it stopts taking place in the DOM
    // don't display: none because then it is not focusable
    // firefox: can't set widht/height for checkbox, so use transform
    transform: scale(0);
    // this makes sure it doesn't take space in the DOM
    @apply absolute;

    &:checked ~ .material-checkbox-fake::after {
      content: 'check_box';
    }

    // other icon for the radio
    &:checked ~ .material-radio-fake::after {
      content: 'radio_button_checked';
    }

    &:disabled ~ .material-radio-fake::after,
    &:disabled ~ .material-checkbox-fake::after {
      @apply disabled;
    }

    &:focus ~ .material-radio-fake::after,
    &:focus ~ .material-checkbox-fake::after {
      @apply shadow-outline;
    }
  }

  &:hover {
    @apply lighten-5;
  }

  &:active {
    @apply darken-5;
  }
}

.material-select {
  @apply relative;

  > label {
    @apply select-none absolute pointer-events-none w-full h-full bg-gray-100 py-2 pl-3 pr-8 text-gray-900 rounded-md;
  }

  > select {
    @apply w-full h-full block appearance-none bg-gray-100 py-2 pl-3 pr-8 text-gray-900 rounded-md;

    &:focus {
      @apply outline-none shadow-outline;
    }

    // remove select arrow on IE
    &::-ms-expand {
      display: none;
    }
  }

  &::after {
    content: 'arrow_drop_down';

    font-family: 'Material Icons';
    @apply absolute pointer-events-none top-0 bottom-0 right-0 px-3 flex items-center text-gray-900;
  }

  // handle screens being too small
  @media (min-width: theme('screens.fake-select')) {
    > label {
      @apply hidden;
    }
  }
}

.transparent-input {
  @apply bg-transparent border-b-2 border-gray-300 appearance-none outline-none transition-border-color-100;

  &:focus {
    @apply border-gray-700;
  }

  &:disabled {
    @apply disabled;
  }
}

.wrapped-transparent-input {
  > .wrapped-style {
    @apply border-b-2 border-gray-300 transition-border-color-100;
  }

  > input {
    @apply bg-transparent appearance-none outline-none;

    &:focus ~ .wrapped-style {
      @apply border-gray-700;
    }

    &:disabled ~ .wrapped-style {
      @apply disabled;
    }
  }
}

.wrapped-single-transparent-input {
  > .wrapped-style {
    @apply z-bottom bg-gray-100 rounded-md transition-border-radius-200;
  }

  > input {
    @apply bg-transparent appearance-none outline-none;

    &:disabled ~ .wrapped-style {
      @apply disabled;
    }
  }
}

.transparent-select {
  > select {
    @apply clickable block appearance-none bg-transparent pr-4;

    &:focus {
      @apply outline-none shadow-outline;
    }

    > option {
      @apply bg-gray-100;

      //prevent <option>s from becoming transparent on firefox
      &:not(:checked) {
        @apply text-gray-900;
      }
    }

    // hide firefox outline
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 theme('colors.gray.900');
    }
  }

  &::after {
    content: 'arrow_drop_down';

    font-family: 'Material Icons';
    top: theme('spacing.4');
    right: theme('spacing.4');
    @apply absolute pointer-events-none;
  }
}
