.background-image {
  background: #c8cfc7;
  background-image: url(/images/background_low.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
}
