.background-image {
  background: #e4e7e0;
  background-image: url(/images/background_low.jpg);
  background-attachment: fixed;
  background-size: 1100px;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;

  @media (min-width: theme('screens.md')) {
    background-size: cover;
  }
}
